<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inventory.Properties.Settings.InvntoryConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Invntory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Inventory.Properties.Settings>
            <setting name="str" serializeAs="String">
                <value/>
            </setting>
            <setting name="id" serializeAs="String">
                <value/>
            </setting>
            <setting name="username" serializeAs="String">
                <value/>
            </setting>
        </Inventory.Properties.Settings>
    </userSettings>
</configuration>
